.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    opacity: 0;
    visibility: hidden;    
}
.modal {
    background-color: #fff;
    width: 620px;
    height: 620px;
    margin: calc(90vh - 85vh) auto;
    position: relative;
}

.modal .close-modal, .fullsize-modal {
    color:#000;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-content img {
    max-width: 100%;
    border: none;
    position: absolute;
    top: 20%;
    left: 2%;
    border-radius: 15px;
    
}

.modal__title {
    max-width: 100%;
    border: none;
    position: absolute;
    top: 70%;
    left: 38%;
}

.modal__author {
    max-width: 100%;
    border: none;
    position: absolute;
    top: 75%;
    left: 40%;
}