*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html {
    height:100%;
}

body{
    font-family: 'Roboto', sans-serif;
    min-height:100%;
    position:relative;
}
body::after{ content:''; display:block; height:100px; }

footer{ 
    position:absolute; 
    bottom:0; 
    width:100%; 
    height:50px; 
  }  

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}
/* Grid Header Container*/
.grid {
    display: grid;
    width:960px;
    margin: 0 auto;
}

.grid-template-area-header{
    grid-template-areas:
    "logo nav";
    padding:30px 0px;
    grid-template-columns: 1fr 3fr;
}

.logo {
    grid-area:logo;
}

.nav {
    grid-area:nav;
}
.nav__container {
    display: flex;
}
.nav__container a {
    margin-right: 20px;
    font-size: 16px;
    color:#111;
    padding: 16px  8px;
}

.grid-template-area-content{
    grid-template-areas:
    "slider"
    "content"
    "footer";
	grid-gap:20px;
}

.slider {
    grid-area: slider;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FBDFDB;
    border-radius: 15px 15px 15px 15px;
}
.slider__content{
    justify-self: center;
    align-self: center  ;
    max-width: 320px;
}

.slider__img{
    margin: 0 auto;
}
.content {
    grid-area: content;
}
.slider__content h1{
    font-size: 2em;
}

.footer {
    grid-area:footer;
}


.grid-template-area-cards {
grid-template-columns: 1fr 1fr 1fr;
/*grid-template-areas:
"card1 card2 card3"
"card card card";*/
grid-gap:20px;
}
 
.card img {
    border-radius: 15px 15px 15px 15px;
        
}
.title-cards {
    grid-column: 1 / -1;
}



.receitas__title h2 {
    padding-top:10px;
    font-size: 18px;
    color: #111111;
}
.receitas__title p{
font-size: 14px;
color: #777777;
}

/*
.card{grid-area: card;}
.cards-2{grid-area: cards-2;}
.cards-3{grid-area: cards-3;}
.cards-4{grid-area: cards-4;}
.cards-5{grid-area: cards-5;}
.cards-6{grid-area: cards-6;}*/

.footer {

    background: #EEEEEE;
    text-align: center;
    padding:20px;
    
}

.footer h3 {
font-size: 14px;
color: #999999;
text-align: center;
}